body{font-family: "Trebuchet MS", Helvetica, sans-serif;}

fieldset{
        padding: 1em;
        border: 1px solid #ccc;
        background: #f8f8f8;
}

input{
    margin: 0.5em; 
}

label{
    border: 1px solid red;
    display: block;
    cursor: pointer;
}

input{
    width: 200px;
}

textarea#message{
 width: 50%;
 height: 10em;
    
}
/*to orgulhoso :3*/
input#lembrar{
    border: 1px solid red;
    display: block;
    width: 50px;  
    transform: scale(2);
}