a{
color: #313130;
text-decoration: none;
font-weight: bold;
padding: 15px;

}

body{
    background: #d2d2c1 url('img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
 }

 #principal{
    border: 1px solid crimson;
    width: 900px;    
}

#menu{
  background: #c5c5b2;
  border: 1px solid yellow;
  padding: 18px ;
}

#conteudo{
   background: #e8e8d9;
   padding: 10px
}

.centralizar{
   text-align: center;
}

#rodape{
   text-align: center;
}

h1{
color: #828271;
font-size: 1.2em;

}